@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["FirstName"]</h2>
<h2>@ViewData["LastName"]</h2>
<h2>@ViewData["EmailAddress"]</h2>

<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>